<mat-toolbar role="toolbar">
    <mat-toolbar-row class="firstToolbarRow">
        <span class="example-fill-remaining-space"> </span>
          <button class="firstRowText" mat-button routerLink="profile">O nama </button>
          <h3 class="firstRowText">Kontakt 069 321 26</h3>
        <span>

        </span>
      </mat-toolbar-row>
    
      <mat-toolbar-row class = "secondToolbarRow">
        <!--<h1 ><a routerLink=""><img class="logo" src="assets/images/travel.png"></a></h1> -->
        <span>
          <h1>NBSP</h1><br>
          <h3 color = "">Osiguravajuca kuca</h3>
        </span>
        <span class="example-fill-remaining-space"></span>
        <button class = "meniButton" mat-button routerLink="/home">POCETNA </button>
        <button class = "meniButton" mat-button routerLink="/web-shop">PUTNO OSIGURANJE</button>
        <button class = "meniButton" mat-button routerLink="/heroes">ZIVOTNO OSIGURANJE</button>
        <button class = "meniButton" mat-button routerLink="/web-shop">IMOVINSKO OSIGURANJE</button>
       
      </mat-toolbar-row>
</mat-toolbar>
