<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel class="steper"> Podaci za polisu</ng-template>

      Trajanje osiguranja <br>

      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" placeholder="Pocetak vazenja osiguranja"  formControlName="startPickerCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" placeholder="Kraj vazenja osiguranja" formControlName="endPickerCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-select placeholder="Destinacija" [(ngModel)]="selectedRegionValue" (change)="chooseValue(selectedRegionValue)"  formControlName="travelRegionCtrl" required>
          <mat-option *ngFor="let region of regions" [value]="region">
            {{ region.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>


      <mat-form-field>
        <mat-select placeholder="Uzrast lica koje putuje" [(ngModel)]="selectedAgeGroupValue" (change)="chooseValue(selectedAgeGroupValue)" formControlName="agesCtrl" required>
          <mat-option *ngFor="let ageGroup of ageGroups" [value]="ageGroup">
            {{ ageGroup.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-select placeholder="Svrha putovanja" [(ngModel)]="selectedSportValue" (change)="chooseValue(selectedSportValue)" formControlName="sportCtrl" required>
          <mat-option *ngFor="let sport of sports" [value]="sport">
            {{ sport.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-select placeholder="Osigurana suma" [(ngModel)]="selectedInsuranceAmountValue" (change)="chooseValue(selectedInsuranceAmountValue)" formControlName="sportCtrl" required>
          <mat-option *ngFor="let insuranceAmount of insuranceAmounts" [value]="insuranceAmount">
            {{ insuranceAmount.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field>
          <mat-select placeholder="Vrsta osiguravajuceg paketa" [(ngModel)]="selectedPaketValue"  (change)="izabranPaket(paket)" formControlName="travelPaketCtrl" required>
            <mat-option *ngFor="let paket of paketi" [value]="paket">
              {{ paket.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <br>
      <div *ngIf="aktivanPorodicni == true">
      <mat-form-field>
        <input matInput type="number" placeholder="Broj dece(0-18)" formControlName="numberCtrl" required>
      </mat-form-field>
    </div>
      <br> 
      <mat-form-field>
        <input matInput type="number" placeholder="Broj odraslih(18-65)" formControlName="numberCtrl" required>
      </mat-form-field>

      <br>
      <mat-form-field>
        <input matInput type="number" placeholder="Broj starijih lica(65+)" formControlName="numberCtrl" required>
      </mat-form-field>

      <br>
      <mat-form-field>
        <input matInput type="number" placeholder="Uzrast lica koje putuje" formControlName="numberCtrl" required>
      </mat-form-field>

      <br>
      <mat-checkbox>Osiguranje imovine (dodatak)</mat-checkbox>
      <br>
      <mat-checkbox>Osiguranje na putu (dodatak)</mat-checkbox>

      <div>
        <button mat-button matStepperNext>Dalje</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="preBillFormGroup">
    <form [formGroup]="preBillFormGroup">
      <ng-template matStepLabel>Predracun</ng-template>



      <br><div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
          <mat-cell *matCellDef="let region"> {{ region.category }} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Insurance item </mat-header-cell>
          <mat-cell *matCellDef="let region"> {{ region.name }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let region"> {{ region.price }} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>


      <!-- Copyright 2018 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
      <mat-form-field>
        <input matInput type="number" placeholder="Number of persons" formControlName="preBillCtrl" required>
      </mat-form-field>
      <br>
      <br>

      <div>
          <button mat-button matStepperPrevious>Nazad</button>
        <button mat-button matStepperNext>Dalje</button>

      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="licaFormGroup">
      <form [formGroup]="licaFormGroup">
        <ng-template matStepLabel>Podaci o osiguranim licima</ng-template>
  
        <br>
  
        LICAAAAAAAAAAAA

        Tabela

    <button mat-button matStepperNext>Dodaj lice</button>   
    <br>

    Ovo moze biti dijalog <br>
    <mat-form-field>
        <input matInput placeholder="Ime" formControlName="licaCtrl" required>
   </mat-form-field>
<br>
    <mat-form-field>
        <input matInput placeholder="Prezime" formControlName="licaCtrl" required>
   </mat-form-field>
<br>
Potrebno je da proveri poslednje 4 cifre jmbg-a
    <mat-form-field>
        <input matInput placeholder="JMBG" formControlName="licaCtrl" required>
   </mat-form-field>
<br>
    <mat-form-field>
        <input matInput placeholder="Ulica" formControlName="licaCtrl" required>
   </mat-form-field>
<br>
    <mat-form-field>
        <input type="number" matInput placeholder="Broj" formControlName="licaCtrl" required>
   </mat-form-field>
<br>
   <mat-form-field>
        <input matInput placeholder="Mesto" formControlName="licaCtrl" required>
   </mat-form-field>
<br>
    <mat-form-field>
        <input matInput placeholder="Telefon" formControlName="licaCtrl" required>
   </mat-form-field>
   
        <div>
            <button mat-button matStepperPrevious>Nazad</button>
          <button mat-button matStepperNext>Dalje</button>

        </div>
      </form>
    </mat-step>

  <mat-step [stepControl]="objectFormGroup">
    <form [formGroup]="objectFormGroup">
      <ng-template matStepLabel> Osiguranje kuće/stana</ng-template>

      <br>

      <mat-form-field>
        <mat-select placeholder="Flat area" formControlName="areaCtrl" required>
          <mat-option *ngFor="let area of areas" [value]="area">
            {{ area.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-select placeholder="Age of object" formControlName="objectAgeCtrl" required>
          <mat-option *ngFor="let objectAge of objectAges" [value]="objectAge">
            {{ objectAge.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Estimated value of the apartment" formControlName="objectAgeCtrl" required>
          <mat-option *ngFor="let objectAge of objectAges" [value]="objectAge">
            {{ objectAge.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-select placeholder="Which is ensured" formControlName="insuranceCtrl" required>
          <mat-option *ngFor="let insurance of insurances" [value]="insurance">
            {{ insurance.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
          <button mat-button matStepperPrevious>Nazad</button>
        <button mat-button matStepperNext>Dalje</button>

      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="carFormGroup">
    <form [formGroup]="carFormGroup">
      <ng-template matStepLabel> Osiguranje pomoć na putu</ng-template>

      <br>
      Package to be purchased:
      <mat-form-field>
        <mat-select placeholder="Choose the package" formControlName="packageCtrl" required>
          <mat-option *ngFor="let package of packages" [value]="package">
            {{ package.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Brand of vehicle;" formControlName="packageCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Type of vehicle;" formControlName="packageCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="number" maxlength="5" placeholder="Year of manufacture" formControlName="packageCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Number of registry tables" formControlName="packageCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Chassis number" formControlName="packageCtrl" required>
      </mat-form-field>
      <br>
      <hr>


      <div>
        <button mat-button matStepperPrevious>Nazad</button>
        <button mat-button matStepperNext>Dalje</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Obracun</ng-template>
    Izaberi nacin placanja!

    1. Paypall
    <img src="https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1425493926/uazitd0cpj8dafeobjii.jpg">
    <div>
      <button mat-button matStepperPrevious>Nazad</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
