<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>

<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="begOfInsurance" placeholder="First date of insurance" formControlName="begOfInsuranceCtrl">
        <mat-datepicker-toggle matSuffix [for]="begOfInsurance"></mat-datepicker-toggle>
        <mat-datepicker #begOfInsurance></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="endOfInsurance" placeholder="Last date of insurance" formControlName="endOfInsuranceCtrl">
        <mat-datepicker-toggle matSuffix [for]="endOfInsurance"></mat-datepicker-toggle>
        <mat-datepicker #endOfInsurance></mat-datepicker>
      </mat-form-field>


        <mat-radio-group formControlName="ageGroupCtrl">
          <mat-radio-button value="1">< 18</mat-radio-button>
          <mat-radio-button value="2">18 - 60</mat-radio-button>
          <mat-radio-button value="3">> 60</mat-radio-button>
        </mat-radio-group>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
