 <div class="container myContainer">
    <div class="row">
        <div class="col">
          <figure class="snip1174 navy col">
            <h2>
                PUTNO OSIGURANJE
            </h2>
            <img src="/assets/images/travelPanel.jpg" alt="sq-sample33" />
            <figcaption>
              <p>
                Pogledajte našu ponudu putnih osiguranja.
              </p>
              <a routerLink="/web-shop">Kupi</a>
            </figcaption>
          </figure>
       </div>

        <div class="col">
            <figure class="snip1174 navy col">
              <h2>
                  IMOVINSKO OSIGURANJE
              </h2>
              <img src="/assets/images/homePanel.jpg" alt="sq-sample33" />
              <figcaption>
                <p>
                  Pogledajte našu ponudu putnih osiguranja.
                </p>
                <a routerLink="insurance-detail/home">Kupi</a>
              </figcaption>
            </figure>
          </div>

          <div class="col">
              <figure class="snip1174 navy col">
                <h2>
                    ZIVOTNO OSIGURANJE
                </h2>
                <img src="/assets/images/lifePanel.jpg" alt="sq-sample33" />
                <figcaption>
                  <p>
                    Pogledajte našu ponudu putnih osiguranja.
                  </p>
                  <a routerLink="insurance-detail/life">Kupi</a>
                </figcaption>
              </figure>
          </div>
    </div>
  </div>